body {background-color:#6E8891; background-image: url(../css/img/img1.jpg);background-size: cover;}
.container-fluid {padding:50px;}
.container{padding:50px;   }
#title{font-family: 'Lobster', cursive; color: #043756;}
