
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/login_reg_style.css' %}">

</head>

<body>
    <div class="container-md">
        <div>
            <h1>Welcome {{current_user.first_name}} {{current_user.last_name}}!!!</h1>
            <a href="/logout"class="btn btn-primary">Logout</a>
            <!-- <form action="/editprofile">
                {% csrf_token %}
            <button>profile head</button>
            </form> -->
        </div>
        <div class="col-10">
            <h3>Goals for 2021</h3>
            <table class="table table-dark table-hover ">
                <thead>
                    <tr>
                        <th>Goal</th>
                        <th>Start Date</th>
                        <th>Goal Date</th>
                        <th>Update Goal Status </th>
                    </tr>
                </thead>
                <tbody>
                    {% for goal in goals %}
                    <tr>{% if current_user.id == goal.added_by.id %}
                        <td>{{ goal.goal }}</td>
                        <td>{{ goal.start_date }}</td>
                        <td>{{ goal.target_date }}</td>
                        <td><a href="/viewgoals"class="btn btn-primary active" aria-current="page">View</a> <a href="/{{goal.id}}/editgoal"class="btn btn-primary">Edit</a> <a href="/{{goal.id}}/addtasks"class="btn btn-primary">tasks</a> <a
                                href="{{goal.id}}/delete"class="btn btn-primary">Delete</a></td>
                                {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="/setgoal"class="btn btn-primary">Add a new goal</a> <a href="/viewgoals"class="btn btn-primary">View your goals</a>
        <div class="col">
            <h3>Daily tasks</h3>
            <div>
                <table>
                <thead>
                    <tr>
                        <th>Tasks</th>
                        <th>Goal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    {% for onetask in tasks %}
                    <tr>{% if current_user.id == user.added_by.id %}
                        <td>{{ onetask.task }}</td>
                        {% endif %}
                    {% endfor %}

                    <td></td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        <div>
    </div>

</body>

</html>