{% load bootstrap4 %}
{% bootstrap_messages %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
    <link rel="icon" href="images/icon.png" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <div >
        <!-- <div class="row h-100">
            <aside class="col-12 col-md-3 p-0 ">
                <nav class="navbar navbar-expand navbar-dark  flex-md-column flex-row align-items-start">
                    <div class="collapse navbar-collapse">
                        <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                            <li class="nav-item">
                                <nav class="navbar nav-md ">
                                    <form action="" class="container justify-content-end">
                                        <h3 id='title'>See what we have to offer</h3>
                                        <a class="btn btn-sm btn-outline-light" href="/samplehome"> Home</a>
                                        <a class="btn btn-sm btn-outline-light" href="/samplegoals"> Goals</a>
                                        <a class="btn btn-sm btn-outline-light" href="/samplegoals"> Goals</a>
                                    </form>
                                </nav>
                                <img class="box-shadow-sm" id= "img-login"src="{% static 'css/img/ad4.gif' %}" alt="">

                                <img class="box-shadow-sm" id= "img-login"src="{% static 'css/img/ad3.gif' %}" alt="">
                                <img class="box-shadow-sm" id= "img-login"src="{% static 'css/img/ad2.gif' %}" alt="">

                
                                <!-- <img class="box-shadow-sm" id= "img-login"src="{% static 'css/img/computer3.jpg' %}" alt=""> -->
                                    <img class="box-shadow-sm" src="" >    

                            </li>
                            
                        </ul>
                    </div>
                </nav>
            </aside>
            <!-- <main class="col">
                ..
            </main> -->
        
    

         -->
    <div class="container">

    <div class="container-fluid ">
        <div >
            <h2 class="text-center" id="title">Welcome to Goal Getter!! Login to set goals</h2>

        </div>
        <hr>
        <div class="row">
            <div class=" container-fluid col-md-5">
                <form action="/user/create" method='POST'>
                    {% csrf_token %}
                    <fieldset>
                        <p class="text-uppercase pull-center"> Register</p>
                        <div class="form-group">
                            <input type="text" name="first_name" id="first_name" class="form-control input-lg"
                                placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <input type="text" name="last_name" id="last_name" class="form-control input-lg"
                                placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control input-lg"
                                placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="password" class="form-control input-lg"
                                placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input type="password" name="confirm" id="confirm" class="form-control input-lg"
                                placeholder=" Confirm Password">
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                By Clicking register you're agree to our policy & terms
                            </label>
                        </div>
                        <div>
                            <input type="submit" class="btn btn-lg btn-outline-light" value="Register">
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-md-2">
                <!-------null------>
            </div>
            <div class=" container-fluid container-sm col-md-5 text-center ">
                <form action="/users/login" method="POST">
                    {% csrf_token %}
                    <fieldset>
                        <p class="text-uppercase"> Login using your account: </p>
                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control input-lg"
                                placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="password" class="form-control input-lg"
                                placeholder="Password">
                        </div>
                        <div>
                            <input type="submit" class="btn btn-lg btn-outline-light" value="Sign In">
                        </div>

                    </fieldset>
                </form>
            </div>
            
        </div>
    </div>
</body>

</html>