{% load bootstrap4 %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Goals</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="Stylesheet"
    type="text/css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>


</head>

<body>
    <div class="container">
        <div class="container-fluid">
            <div class="row col-12 ">
                <h1 class="text-center" id="title" >Hey {{current_user.first_name}}! Lets set some goals</h1>
                <div class="navbar navbar-expand-lg justify-content-between  ">
                <nav class="navbar">
                    <a class="btn btn-dark" href="/homepage">Home </a> 
                    <a class="btn btn-dark" href="/logout">Logout</a>
                </nav>

            </div>
            <div class="container">
                <div class="row">
                <div class="col-10">
                    <form action="/create_goal" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="Goal" class="form-label">Goal</label>
                            <input type="text" name="goal" class="form-control" id="Goal"autocomplete="off"
                            placeholder="What is your goal?">
                        </div>
                        <div class="mb-3">
                            <label for="why" class="form-label"> Why?</label>
                            <input type="text" name="why" class="form-control" id="why"autocomplete="off"
                                placeholder="Why is this goal important to you?">
                        </div>
                        <div class="mb-3">
                            <label for="short" class="form-label"> Short term goal</label>
                            <input type="text" name="short" class="form-control" id="short"autocomplete="off"
                                placeholder="Tell me your short term goal">
                        </div>
                        <div class=" form-group">
                            <label for="starttime">Start Date</label>
                            <input type="text"  name="starttime" class="form-control datepicker"  autocomplete="off"  required/>
                            <label for="target_date">Target Date</label>
                            <input type="text"  name="target_date" class="form-control datepicker"  autocomplete="off" required>
                        </div>
                        <button class="btn btn-dark ">Set Goal</button>
                    </form>
    
                </div>
                <div>
                <!-- <img class="box-shadow-sm" id= "img-login"src="{% static 'css/img/calender.jpg' %}" alt=""> -->
            </div>
                </div>
            </div>
                <blockquote  class="blockquote col-10 text-center">
                    <p class="mb-0">        {{ quotes.h|safe}}
                    </p>
                </blockquote>
            
            
        </div>
    </div>
    <script type="text/javascript">

        $('.datepicker').datepicker({
            startDate: new Date()
        });
    </script>


</body>

</html>
