{% load bootstrap4 %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Goals</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>

<body>
    <div class="container">
        <div class="container-fluid">
            <div class="row col-12 ">
                <h1 class="text-center" id="title" >Hey {{current_user.first_name}}! Lets set some goals</h1>
                <div class="navbar navbar-expand-lg justify-content-between  ">
                <nav class="navbar">
                    <a class="btn btn-dark" href="/homepage">Home </a> 
                    <a class="btn btn-dark" href="/logout">Logout</a>
                </nav>

            </div>
            <div class="container">
                <div class="row">
                <div class="col-10">
                    <form action="/create_goal" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="Goal" class="form-label">Goal</label>
                            <input type="text" name="goal" class="form-control" id="Goal"
                            placeholder="What is your goal?">
                        </div>
                        <div class="mb-3">
                            <label for="why" class="form-label"> Why?</label>
                            <input type="text" name="why" class="form-control" id="why"
                                placeholder="Why is this goal important to you?">
                        </div>
                        <div class="mb-3">
                            <label for="short" class="form-label"> Short term goal</label>
                            <input type="text" name="short" class="form-control" id="short"
                                placeholder="Tell me your short term goal">
                        </div>
                        <div class=" form-group">
                            <label for="starttime">Start Date</label>
                            <input type="date" min="2021-7-16" name="starttime" id="" required/>
                            <label for="target_date">Target Date</label>
                            <input type="date" name="target_date" id="" required>
                        </div>
                        <button class="btn btn-dark ">Set Goal</button>
                    </form>
                </div>
                <div>
                <!-- <img class="box-shadow-sm" id= "img-login"src="{% static 'css/img/calender.jpg' %}" alt=""> -->
            </div>
                </div>
                <blockquote class="blockquote  text-center">
                    <p class="mb-0">        {{ quotes.h|safe}}
                    </p>
                </blockquote>
            
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>



</body>

</html>
