<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Goals</title>
</head>

<body>
    <script>
        const url = 'https://zenquotes.io/api/random';
        fetch(url)
            .then((response) => response.json())
            .then(function(data) {
                let quote = data[0]["q"];
                let author = data[0]["a"];
                let htmlquote = data[0]["h"];
                console.log(htmlquote);
        })

</script>
</body>